  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

<div class="well">
  <p>There are <%= @product_count %> products in the warehouse.</p>
  <p>There are <%= @category_count %> categories of products in the warehouse.</p>
</div>

<%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
