  <header class="page-header">
    <h1>About Us</h1>
  </header>

<div class="well">
  <p>Our company is selling all the cool products of modern apparel, electronics and furnitures with great discounts and free deliveries worldwide.</p>
</div>